body{
  width:100%;
  overflow-x: hidden;
  background-color: #101010;
  margin: 0;
}
body a {
  text-decoration: none;
}
body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
  --white-color: #fff;
  --grey-light-color: #ddd;
  --admin-container-color: rgba(255, 255, 255, .2);
  --black-color: #000;

  --transition-medium: .2s ease-in;
  --transition-long: .4s ease-in;
}
.App {
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.no_select {
  user-select: none;
}
.spacing_bottom {
  margin-bottom: 16px;
}
