body{
  width:100%;
  overflow-x: hidden;
  background-color: #101010;
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
:root {
	--size-smallest: .5vw;
	--size-small: .7vw;
	--size-medium: 1.2vw;
  --size-large: 2vw;
  --size-xlarge: 4.5vw;

  --size-spacing: 2vw;
  --size-spacing-small: 1.5vw;
  --size-spacing-large: 6vw;
}
@media screen and (max-width: 1920px ) {
  :root {
    --size-smallest: 1rem;
    --size-small: 1rem;
    --size-medium: 1.5rem;
    --size-large: 3rem;
    --size-xlarge: 3rem;
    --size-spacing: 2rem;
    --size-spacing-small: 1.5rem;
    --size-spacing-large: 6rem;
  }
}
body * {
  scrollbar-width: thin;
  scrollbar-color:  #f1f1f1 #888;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}