body{
  width:100%;
  overflow-x: hidden;
  background-color: #101010;
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
body a {
  color: var(--color-link);
  text-decoration: none;
  transition: var(--transition-medium);
}
body a:hover,
body a:focus {
  color: var(--color-link-hover);
}
body * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
  --color-white: #fff;
  --color-grey-light: #ddd;
  --color-link: #666;
  --color-link-hover: #aaa;
  --admin-container-color: rgba(255, 255, 255, .2);
  --black-color: #000;
  --transition-long: .4s ease;

  --admin-container-color: rgba(0, 0, 0, .95);

	--size-small: .7vw;
	--size-medium: 1.2vw;
  --size-large: 2vw;
  --size-xlarge: 4.5vw;

  --size-spacing: 2vw;
  --size-spacing-small: 1.5vw;
  --size-spacing-large: 6vw;


  --transition-medium: .2s ease;
  --color-primary: rgba(45,0,78, 1);
  --color-primary-dark: rgba(75, 0, 128);
  --shadow-box: 0px 0px 100px 0px rgba(45,0,78, 0.2);
}
@media screen and (max-width: 1920px ) {
  :root {
    --size-small: .8rem;
    --size-medium: 1.5rem;
    --size-large: 3rem;
    --size-xlarge: 4rem;
    --size-spacing: 2rem;
    --size-spacing-small: 1.5rem;
    --size-spacing-large: 6rem;
  }
}
.App {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.skew {
  transition: .25s ease-in;
  will-change: transform;
}
.no_select {
  user-select: none;
}
.spacing_bottom {
  margin-bottom: 16px;
}
