/*======================================
=               CAROUSEL              =
======================================*/
.gaming_carousel__wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  position: relative;
}
.gaming_carousel__wrapper .indicators {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25vh;
  z-index: 10;
  position: absolute;
  padding: 0 2rem;
  box-sizing: border-box;
  pointer-events: none;
}
.gaming_carousel__wrapper .indicators div {
  pointer-events: auto;
  cursor: pointer;
}
.gaming_carousel__wrapper .scroll-content {
  display: flex !important;
  width: 100%;
  height: 50vh;
}
.gaming_carousel__wrapper .scrollbar-thumb-x,
.gaming_carousel__wrapper .scrollbar-track-x.show{
  display: flex !important;
}
.gaming_carousel_object {
  padding: 28px;
  height: 50vh;
  width: auto;
  box-sizing: border-box;
}
.gaming_carousel_image {
  height: 100%;
}
.gaming_footer_area {
  height: 20vh;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .gaming_carousel__wrapper .scroll-content {
    height: auto;
    flex-direction: column;
  }
  .gaming_carousel_image {
    height: auto;
    width: 100%;
  }
  .gaming_carousel_object {
    padding: 0px;
    height: auto;
  }
  .gaming_carousel__wrapper .indicators {
    display: none;
  }
}
