.home_background{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0px;
}
.home_background:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.5);
}
.home_background--hidden{
  transform: translateX(-100%);
}
.home_background__video{
  position:absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-position: center center;
}
.logo{
  position: absolute;
  top: 25px;
  width: 100%;
  transition:.8s ease-out;
}
.logo_inner{
  background: transparent;
  height:  60px;
  position: absolute;
  left: 25px;
  cursor: pointer;
}
.logo_link{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  color: #fff;
  font-family:'Open Sans', Helvetica;
  transition:.4s ease-out;
}
.logo_last {
  opacity: .5;
}
.logo_link:hover, .logo_link:focus{
  text-decoration: none;
}
.contact{
  position: fixed;
  bottom:25px;
  left: 25px;
}
.contact_inner{
  left: 25px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.contact_link {
  display: flex;

  font-size: 24px;
}
.contact_inner a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #ddd;
  font-family:'Open Sans', Helvetica, sans-serif;
  transition:.4s ease-out;
}
.contact_icon {
  margin: 0px 6px;
  box-sizing: border-box;
}
.contact_inner a:hover {
  color: #666;
}