.page_wrapper {
  height: 100vh;
  width: 100%;
}
.page_wrapper--display {
  overflow-y: hidden;
}

.menu_panel__links{
  z-index: 4;
  pointer-events: none;
  overflow: auto;
  height: 100vh;
  width: 33vw;
  overflow-x: hidden;
}
.menu_panel__links--display{
  pointer-events: auto;
}
.menu_panel__link {
  width: 100%;
  font-size: 4.5vw;
  line-height: 150%;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  color: var(--color-link);
  cursor: default;
}
@media screen and (max-width: 1920px ) {
  .menu_panel__link {
    font-size: 4rem;
  }
}
.menu_panel__links a {
  color: var(--color-grey-light);
  text-decoration: none;
  transition: 0s;
  cursor: pointer;
}
.menu_panel__links a:hover,
.menu_panel__links a:focus {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-grey-light);
}

@media screen and (max-width: 1590px) {
  .menu_panel__links {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .menu_panel__link {
    width: 100%;
    min-width: 0px;
    font-size: var(--size-large);
    line-height: 150%;
  }
  .menu_panel__links {
    width: 100%;
  }
  .menu_panel__links .scroll-content {
    padding-bottom: 100px;
  }
}