.notfound_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  flex-direction: column;
}
.notfound_title {
  font-size: 5.9vw;
}
.notfound_text{
  font-size: 20px;
}