
/*======================================
=               PRELOAD                =
======================================*/
.preload_images {
  position: fixed;
  width: 0;
  height: 0;
  overflow:hidden;
}

/*======================================
=         LOADING BACKGROUND           =
======================================*/
.loading_background {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #111;
  transition: var(--transition-medium);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.loading_background--hidden {
  opacity: 0;
  pointer-events: none;
}

/*======================================
=          LOADING ANIMATION           =
======================================*/
.spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #ddd;
}
.bubble-2 {
  top: auto;
  bottom: 0;
}
.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
  animation-delay: -1.0s;
}

@keyframes loadingI {
  100% {transform: rotate(360deg);}
}
@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}