/*======================================
=          PROJECT WRAPPER            =
======================================*/
.full_width {
  margin-left: 8.33333333%;
  margin-bottom: 3rem;
  width: 83.33333333%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .full_width {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 0px;
  }
}
/*======================================
=          PROJECT CONTENTS           =
======================================*/
.project_smallfont{
  font-size: var(--size-xlarge);
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  cursor: default;
}

.project_smallfont__break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.project_wrapper{
  width: 100%;
  overflow: hidden;
}


.project_body{
  background-color: var(--black-color);
  width: 100%;
  color: var(--color-grey-light);
  overflow: hidden;
  padding-top: 6rem;
}
.project_body_text{
  font-size: var(--size-small);
  letter-spacing: 1px;
  width: 66.6%;
  margin-left: 8.33333333%;
  padding: 0 0 var(--size-spacing-large) 0px;
}
.project_body__body {
  line-height: 200%;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
}

@media screen and (max-width: 992px) {


  .project_body {
    padding-top: 0;
  }
  .project_body_text {
    width: 100%;
    padding: 6rem 1rem;
    margin-left: 0;
    box-sizing:border-box;
  }
  .project_banner_image {
    filter: none !important;
  }
}

/*======================================
=                UPDATE                =
======================================*/
.update{
  width:100%;
  background-color: var(--black-color);
  color: #ccc;
  transition:.4s ease-in-out;
  font-size: var(--size-small);
  line-height:130%;
  letter-spacing:1px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
}
.update_content {
  display: flex;
  flex-direction: row;
}
.update_smallfont {
  font-size: var(--size-small);
  letter-spacing: 4px;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .update {
    width: 100%;
    padding: 0px 1rem;
    margin: 0;
    box-sizing: border-box;
  }
  .update {
    margin: 2rem 0;
  }
  .update_content {
    flex-direction: column;
  }
}



/*======================================
=               LOAD IN               =
======================================*/

@media screen and (max-width: 992px) {

  .load_in_object {
    transform: scale(1, 1) translateY(0px) !important;
    animation: none !important;
    opacity: 1 !important;
  }
  .load_in_object--display {
    transform: scale(1, 1) translateY(0px) !important;
    animation: none !important;
    opacity: 1 !important;
  }
}
/*======================================
=            OVERLAY BOTTOM           =
======================================*/
.overlay_bottom {
  position: relative;
  overflow: hidden;
}
.overlay_bottom__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  position: absolute;
  transition-duration: .6s;
  transition-timing-function: ease-in;
}
.overlay_bottom--display .overlay_bottom__overlay{
  transform: translateY(100%);
}
.overlay_bottom img {
  transform: translateY(100px);
  transition: 1s ease-in;
}
.overlay_bottom--display img {
  transform: translateY(0px);
}
@media screen and (max-width: 992px) {
  .overlay_bottom__overlay {
    transform:  translateY(-100%) !important;
  }
  .overlay_bottom img,
  .overlay_bottom--display img {
    transform: none;
    opacity: 1;
  }
}
/*======================================
=            MISC PROJECTS             =
======================================*/
.misc_image {
  width: 100%;
  box-shadow: 5px 8px 13.92px 2.08px rgba(155,155,155,.03);
  cursor: pointer;
  transition: .4s ease-out;
  max-width: 100%;
}
.misc_title__label {
  font-weight: 600;
}
.misc_image:hover {
  transform: translateY(-8px);
}
.misc_image__container {
  display: inline-block;
  margin: 14px;
  padding-top: 14px;
  max-width: 100%;
  object-fit: cover;
  color: #fff;
  font-size: 13px;
  width: 33%;
  padding: var(--size-small);
  box-sizing: border-box;
  font-size: var(--size-small);
}
.misc_title {
  margin-bottom: var(--size-small);
  text-align: center;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.misc_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*======================================
=            LOAD IN IMAGE             =
======================================*/
.load_image__container {
  position: relative;
  overflow:hidden;
}
.load_image__mask{
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.load_image__mask:before{
  content: '';
  background-color: #3a3550;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-delay: 1s;
  z-index: 1;
  transform: translateX(-100%);
}
.load_image__container--display .load_image__mask:before {
  animation: slideimagemask 1500ms ease forwards;
}
.load_image__mask:after {
  content: '';
  position:absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  transform: translateX(0px);
}
.load_image__container--display .load_image__mask:after {
  animation: slideimagemaskafter 1500ms ease forwards;
}
.load_image__image{
  display: block;
  width: 100%;
  top: 0px;
  visibility: hidden;
  animation-delay: 1.4s;
  transition: transform 600ms ease;
  transform: translateX(-5%) scale(1);
}
.load_image__container--display .load_image__mask .load_image__image {
  animation: slideimage 1000ms ease forwards;
}
@keyframes
slideimagemaskafter{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(200%);
  }
}
@keyframes
slideimagemask{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
@keyframes
slideimage{
  0%{
    transform: translateX(-5%);
    visibility: hidden;
  }
  50%{
  visibility: visible;
  }
  100%{
    transform: translateX(0);
    visibility: visible;
  }
}

@media screen and (max-width: 992px) {
  .load_image__container {
    animation: none!important;
  }
}